<div th:fragment="header">
<a class="navbar-brand mb-3" href="">Car<span>Book</span></a>
<hr>
    <div id="accordian">
        <ul class="list-group border-5">

            <li class="list-group-item"><a th:href="@{/admin/thongke}"><i class="fa fa-chart-line"></i> Statistical</a></li>
            <li class="list-group-item"><a th:href="@{/admin/account}"><i class="fa fa-user-cog"></i> Managing Account</a></li>
            <li class="list-group-item"><a th:href="@{/admin/car}"><i class="fa-solid fa-car"></i></i>  Managing Car</a></li>
            <li class="list-group-item"><a th:href="@{/admin/Review}"><i class="fa-solid fa-star"></i></i> Managing Review</a></li>
            <li class="list-group-item"><a th:href="@{/admin/Bill}"><i class="fa-solid fa-money-bill-1-wave"></i></i> Managing Bill</a></li>
            <li class="list-group-item"><a th:href="@{/admin/Customer}"><i class="fa-solid fa-person"></i> Managing Customer</a></li>
            <li class="list-group-item"><a th:href="@{/admin/PendingCar}"><i class="fa-solid fa-truck-fast"></i>Managing Post Car</a></li>
            <li class="list-group-item"><a th:href="@{/admin/BookingCar}"><i class="fa-solid fa-cart-shopping"></i>Managing Booking</a></li>
			 <li class="list-group-item"><a th:href="@{/admin/Notification}"><i class="fa-solid fa-bell"></i>Send Notification
			</a></li>
        </ul>
    </div>
</div>
		