.rating{
position: relative;
 right: 830px;
}


.rating:not(:checked) > input {
  position: absolute;

  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: '★';
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}


.responsive-img {
    width: 500px; /* Kích thước chiều rộng cố định ban đầu */
    height: 300px; /* Kích thước chiều cao cố định ban đầu */
    max-width: 100%; /* Hỗ trợ responsive khi vượt container */
    height: auto; /* Tự động điều chỉnh chiều cao khi thu nhỏ */
    object-fit: cover; /* Đảm bảo ảnh không bị méo khi responsive */
}


